---
import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";

const { title, link, linkText, description, image } = Astro.props;
---

<div class="mb-10">
  <div class="flex justify-between items-end">
    <div>
      {image && <Image class="h-15 w-15 mb-8" src={image} alt={title} />}
      <h1 class="font-bold text-4xl text-gray-900 dark:text-gray-50">
        {title}
      </h1>
    </div>
    {
      link && (
        <a
          class="inline-flex items-center gap-1 font-medium text-gray-800 dark:text-gray-100"
          href={link}
        >
          {linkText}
          <Icon name="tabler:arrow-up-right" />
        </a>
      )
    }
  </div>
  <p class="text-gray-400 mt-2.5">{description}</p>
</div>
